<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--定义各种 SQL 语句和这些语句的参数，以及要返回的类型等-->
<mapper namespace="com.guc.mybatis.mapper.UserMapper">
    <!-- 自定义返回结果集 -->
    <resultMap id="userMap" type="User">
        <id property="id" column="id" javaType="int"/>
        <result property="username" column="username" javaType="String"/>
        <result property="password" column="password" javaType="String"/>
        <result property="sex" column="sex" javaType="String"/>
        <result property="address" column="address" javaType="String"/>
    </resultMap>

    <!-- 定义 SQL 语句，其中 id 需要和接口中的方法名一致 -->
    <!-- useGeneratedKeys：实现自动生成主键 -->
    <!-- keyProperty： 唯一标记一个属性 -->
    <!-- parameterType 指明查询时使用的参数类型，resultType 指明查询返回的结果集类型 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into user (username,password,sex,address) values
        (#{username},#{password},#{sex},#{address})
    </insert>

    <update id="update" parameterType="User">
        update user set
        address=#{address} where
        id=#{id}
    </update>

    <delete id="delete" parameterType="int">
        delete from user where
        id=#{id}
    </delete>

    <!--sql 元素可以定义可复用的 SQL 代码段-->
    <sql id="selectAll">
        select * from user
    </sql>
    <!-- 如未为 Java Bean 起类别名，resultType="com.guc.mybatis.entity.User" -->

    <!-- 使用 resultType 时，一定要保证，你属性名与字段名相同；如果不相同，就使用 resultMap -->
    <select id="selectById" parameterType="int" resultType="User">
        /*select * from user */
        <include refid="selectAll"/>
        where id=#{id}
    </select>

    <select id="selectAll" resultMap="userMap">
        select * from user order by id desc
    </select>

</mapper>